<div class="global-footer">
    <footer>
        <div id="copyrights">
            <div class="container">

                <div class="row hidden-lg hidden-md hidden-sm">
                    <div class="col-xs-12 text-center">
                        <p><a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/terms-of-use/"
                                target="_blank">© 2016 Dominion Enterprises, All rights reserved.</a></p>
                    </div>
                    <div class="col-xs-12 text-center">
                        <nav class="navigation">
                            <a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/terms-of-use" target="_blank">Visitor Agreement</a>
                            <span class="dark-footer">|</span>
                            <a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/privacy" target="_blank">Privacy Policy</a>
                            <span class="dark-footer">|</span>
                            <a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/contactus">Contact Us</a>

                        </nav>
                        <p class="clearfix"></p>
                    </div>
                    <div class="col-xs-12 text-center">

                        <p class=""><a rel="nofollow" href="https://www.corporatehousing.com/fair-housing">Equal Opportunity Housing <span class="equalOpportunityHousing">&nbsp;</span></a></p>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <div class="col-md-12 dark-footer">SITE LINKS:</div>
                    <div class="col-md-12">

                        <nav class="navigation">
                            <ul>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com">Home</a>                                    </li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/admin/auth/index">Login</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/advertise">Advertise</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/aboutus">About Us</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/blog/">Blog</a></li>
                                <li><span class="dark-footer">|</span></li>
                           
                                <li><a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/terms-of-use"
                                        target="_blank">Visitor Agreement</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/privacy"
                                        target="_blank">Privacy Policy</a></li>
                                <span class="hidden-xs">
                                        <li><span class="dark-footer">|</span></li>
                                <li><a rel="nofollow" class="url permalink summary" href="http://www.networkadvertising.org/choices"
                                        target="_blank">Ad Choices&nbsp;&nbsp;<img alt="Ad Choices" src="https://www.corporatehousing.com/images/ad_choices_icon.png"></a></li>
                                </span>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.corporatehousing.com/contactus">Contact Us</a></li>
                            </ul>
                        </nav>


                    </div>

                </div>




                <div class="row hidden-xs">
                    <div class="col-md-12 dark-footer">VISIT OUR OTHER SITES:</div>
                    <div class="col-md-12">
                        <nav class="navigation">
                            <ul>
                                <li><a rel="me" class="url permalink summary" href="https://www.forrent.com" target="_blank">ForRent.com</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.forrentuniversity.com" target="_blank">ForRentUniversity.com</a></li>
                                <li><span class="dark-footer">|</span></li>
                                <li><a rel="me" class="url permalink summary" href="https://www.after55.com" target="_blank">After55.com</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="row hidden-xs">
                    <div class="col-md-5">
                        <p>CorporateHousing.com is part of the Homes.com and ForRent.com Network.</p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p><a rel="me" class="url permalink summary" href="http://www.dominionenterprises.com/terms-of-use/"
                                target="_blank">© 2016 Dominion Enterprises, All rights reserved.</a></p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <p class="pull-right "><a class="url permalink summary" rel="me" href="https://www.corporatehousing.com/fair-housing">Equal Opportunity Housing <span class="equalOpportunityHousing">&nbsp;</span></a></p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
</div>