<div class="global-header ">
    <div class="container">
        <div class="menu-link visible-xs-inline">
            <a ng-click="globalHeaderCtrl.openSideNavigation()">
                <span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
        </div>
        <div class="menu-logo col-xs-9 col-sm-4">
            <div class="logo">

            </div>
        </div>
        <div class="top-mainmenu hidden-xs col-sm-8">
            <ul class="clearfix pull-right">
                <li>
                    <a href="/">Search</a>
                </li>
                <li>
                    <a href="/">About Us</a>
                </li>
                <li>
                    <a href="/">Blog</a>
                </li>
                <li>
                    <a href="/">Advertise</a>
                </li>
                <li>
                    <a href="/">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>