<div class="search-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form name="searchForm" class="search-form">
                    <input type="text" 
                        [ngbTypeahead]="search" 
                        [resultFormatter]="formatter"
                        (selectItem)="onSelect($event)"
                        class="form-control" name='txtSearch'
                        placeholder="City, ST or Zip" [(ngModel)]="searchText.displayText" required />
                    <span *ngIf="searchText.displayText===''" class="error-msg p5-left">Please enter City and State, or Zip.</span>
                    <a class="search-icon-link" (click)="submitQuery(searchForm)">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>